---
import { ClientRouter } from 'astro:transitions'
import '../globals.css'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<script is:inline data-astro-rerun>
  function toggleTheme() {
    function getThemePreference() {
      if (
        typeof localStorage !== 'undefined'
        && localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme')
      }
      return window.matchMedia('(prefers-color-scheme: dark)').matches
        ? 'dark'
        : 'light'
    }
    const isDark = getThemePreference() === 'dark'
    document.documentElement.classList[isDark ? 'add' : 'remove']('dark')
  }

  toggleTheme()

  document.addEventListener('astro:before-swap', () => toggleTheme())
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    <ClientRouter transition:animate="slide" />
  </head>
  <body>
    <slot />
  </body>
</html>
