---
import { Turnstile } from '@marsidev/react-turnstile'
import { actions, isInputError } from 'astro:actions'
import { SelectDomain } from '@/components/SelectDomain'
import { Button } from '@/components/ui/button'
import PasswordDrawer from './PasswordDrawer'

const Env = Astro.locals.runtime.env

const result = Astro.getActionResult(actions.generateNewMailbox)
const turnstileSiteKey = Env.TURNSTILE_SITE_KEY
const mailDomains = Env.MAIL_DOMAIN.split(',')
---

<div class="space-y-6">
  <form action={actions.generateNewMailbox} method="POST" class="space-y-4">
    <div class="space-y-2">
      <label class="text-sm font-medium text-card-foreground">Select Domain</label>
      {mailDomains.length && <SelectDomain domains={mailDomains} client:load />}
    </div>

    <div class="space-y-2">
      <label class="text-sm font-medium text-card-foreground">Bot Check</label>
      <div class="[&_iframe]:w-full! h-[65px] rounded-md overflow-hidden">
        <Turnstile siteKey={turnstileSiteKey} client:only="react" />
      </div>
    </div>

    <Button type="submit" variant="default" className="w-full"> Create a New Mailbox </Button>
  </form>

  {
    isInputError(result?.error) && (
      <div class="rounded-md border border-destructive/50 bg-destructive/10 p-3">
        <div class="text-sm text-destructive">
          <strong>Error:</strong> {result.error.message}
        </div>
      </div>
    )
  }

  <div class="pt-2">
    <PasswordDrawer client:load />
  </div>
</div>
