---
import { GitHubLogoIcon } from '@radix-ui/react-icons'
import { Button } from './ui/button';
---

<Button variant="default">
  <GitHubLogoIcon />
  <div class="ml-1.5 text-sm">Star</div>
</Button>
